#quiz-area, #game-over {
  height: 60vh;
  margin-top: 20vh;
  background: linear-gradient(124deg, #2291f2 0%, #1c6fb6 100%);
  border-radius: 30px;
}

#quiz-area:before, #game-over:before {
  content: "";
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 503px #0C5EA6;
}

#quiz-area:after, #game-over:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 4px outset #1F2126;
  border-radius: 30px;
  pointer-events: none;
}

header {
  color: #D91E50;
}

body {
  background-color: #1F2126;
  height: 100%;
}

h1 {
  font-family: "Crimson Text", serif;
}

#quiz-area {
  position: relative;
  text-align: center;
}

.play-area-bg {
  border-radius: 30px;
  position: absolute;
  object-fit: cover;
  background-image: url(./Assets/double-bubble.png);
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

#game-over {
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100%;
  display: none;
}

#header-info {
  text-align: center;
  position: absolute;
  top: 5%;
  width: 100%;
}

#quiz-question {
  padding-top: 10px;
}

.btn {
  background-color: #F2B544;
  width: 100%;
  height: 30%;
  border-radius: 15px;
  margin-top: 5px;
  min-height: 0px;
  border: 3px outset #F2DA50;
}

.btn-answer {
  height: 40%;
}

#buttons-answers {
  height: 100%;
  display: none;
}

#buttons-menu {
  height: 25%;
}

#buttons-menu__start {
  margin-top: auto;
  height: 25%;
}

#new-high-score {
  align-content: center;
  text-align: center;
}

#debug-skip {
  position: absolute;
  left: 10%;
  z-index: 5;
}
