#quiz-area, #game-over {
  height: 60vh;
  margin-top: 20vh;
  background-color: #2291F2;
  border-radius: 30px;
}

body {
  background-color: #1F2126;
  height: 100%;
}

h1 {
  font-family: "Crimson Text", serif;
}

#quiz-area {
  text-align: center;
}

#game-over {
  text-align: center;
  display: none;
}

.btn {
  background-color: #F2B544;
  width: 100%;
  height: 30%;
  border-radius: 15px;
  margin-top: 5px;
  min-height: 0px;
}

.btn-answer {
  height: 40%;
}

#buttons-answers {
  height: 100%;
  display: none;
}

#buttons-menu {
  height: 25%;
}

#buttons-menu__start {
  margin-top: auto;
  height: 25%;
}
