$color-base: #1F2126;
$color-primary: #F21326;
$color-secondary: #D91E50;
$color-complimentary-primary: #2291F2;
$color-complimentary-secondary: #F2B544;
$gradient-complimentary-primary: linear-gradient(124deg, rgba(34,145,242,1) 0%, rgba(28,111,182,1) 100%);

$font-fancy: 'Crimson Text', serif;

%game-background {
    height: 60vh;
    margin-top: 20vh;
    // background-color: $color-complimentary-primary;
    background: $gradient-complimentary-primary;
    border-radius: 30px;
}

header {
    color: $color-secondary;
}

body {
    background-color: $color-base;
    height: 100%;
}

h1 {
    font-family: $font-fancy;
}

#quiz-area {
    @extend %game-background;
    text-align: center;
    // padding-bottom: 20vh;
}

#game-over {
    @extend %game-background;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: none;
}

// ANCHOR Info Area (header)
#header-info {
    text-align: center;
    position: absolute;
    top: 5%;
    width: 100%;
}

// ANCHOR Buttons
.btn {
    background-color: $color-complimentary-secondary;
    width: 100%;
    height: 30%;
    border-radius: 15px;
    margin-top: 5px;
    min-height: 0px;
}

.btn-answer {
    height: 40%;
}

#buttons-wrapper {
    // padding-top: 100px;
}

#buttons-answers { 
    height: 100%;
    display: none;
    // padding-top: 10%;
}

#buttons-menu {
    height: 25%;
}

#buttons-menu__start {
    margin-top: auto;
    height: 25%;
}

// ANCHOR High Score

#new-high-score {
    align-content: center;
    text-align: center;
}